{{! Partial: Archive }}

{{#tag}}
    <section class="archive">
        <div class="archive-type">{{t "Category"}}</div>
        <h1 class="archive-title">{{name}}</h1>
        {{#if description}}
            <p class="archive-description">{{description}}</p>
        {{/if}}
    </section>
{{/tag}}
