{{! Partial: Post Reading Time }}

<div id="postreadingtime" class="postreadingtime" data-minutes="{{t "minutes left"}}" data-minute="{{t "minute left"}}" data-thanks="{{t "Thanks for reading"}}"></div>
