{{! Partial: Post Comments }}

<section class="postcomments" data-page-url="{{url absolute="true"}}" data-page-id="ghost-{{comment_id}}">

    <div class="postcomments-view">
        <svg class="svg-icon svg-icon-stroke svg-icon-message-square">
            <use xlink:href="{{asset "svg/icons.svg"}}#message-square"></use>
        </svg>
        {{t "View Comments"}}
    </div>

    <div class="postcomments-disqus">
        <div id="disqus_thread">
            {{!-- Disqus comments will be lazy loaded into this container --}}
        </div>
    </div>

</section>
