{{! Template: Author }}
{{!< default}}

<div class="wrapper">

    <main class="page">

        {{#author}}
            {{> authorprofile}}
        {{/author}}

        {{> postlist}}

        {{pagination}}

    </main>

</div>
